In [40]:
import pandas as pd

In [41]:
df=pd.read_csv("spotify_millsongdata.csv")

In [42]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [43]:
df= df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [44]:
df.head()

,artist,song,text
0,Roy Orbison,Pledging My Love,Forever my darling our love will be true \r\n...
1,Owl City,Umbrella Beach,"Stands and gears, oh how the daisies bloom \r..."
2,Luther Vandross,So Amazing,Love has truly been good to me \r\nNot even o...
3,Electric Light Orchestra,On The Run,"Whatever I do, wherever I go \r\nThe same aft..."
4,Ween,I Play It Off Legit,Where have you been? \r\nI was out with Pat ...

In [45]:
df.shape

(5000, 3)

In [47]:
# Convert text to lowercase and remove unwanted characters
df['text'] = df['text'].str.lower().replace(r'\s+', ' ', regex=True).replace(r'\n', ' ', regex=True)

In [48]:
df.tail(5)

,artist,song,text
4995,ZZ Top,Party On The Patio,"i found an empty house in my neighborhood, i k..."
4996,Rascal Flatts,Feels Like Today,woke up this morning with this feeling inside ...
4997,Nick Cave,500 Miles,if you miss the train i'm on then you know tha...
4998,Kirsty Maccoll,Halloween,i must have fallen on my feet a hundred times ...
4999,Falco,Cowboyz And Indianz,red square white house heute rein und morgen r...

In [49]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def token(txt):
    tokens = nltk.word_tokenize(txt)
    stemmed_tokens = [stemmer.stem(w) for w in tokens]
    return " ".join(stemmed_tokens)

# Apply tokenization and stemming
df['text'].apply(lambda x: token(x))

0       forev my darl our love will be true alway and ...
1       stand and gear , oh how the daisi bloom when c...
2       love ha truli been good to me not even one sad...
3       whatev i do , wherev i go the same afterglow i...
4       where have you been ? i wa out with pat wa she...
                              ...
4995    i found an empti hous in my neighborhood , i k...
4996    woke up thi morn with thi feel insid me that i...
4997    if you miss the train i 'm on then you know th...
4998    i must have fallen on my feet a hundr time or ...
4999    red squar white hous heut rein und morgen rau ...
Name: text, Length: 5000, dtype: object

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [51]:
matrix = tfid.fit_transform(df['text'])

In [52]:
smilar = cosine_similarity(matrix)

In [70]:
#Recommender Function
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(smilar[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [75]:
recommender("Waiting For The Man")

["Don't Lose My Number",
 'In Your Corner',
 'BILLY HUNT',
 'Goodbye Marie',
 "Billy's Bones",
 'Light Of Day',
 'Billy 1',
 'Nobody Loves A Fat Girl',
 'Stranger',
 'All I Care About',
 'Sometimes The Good Guys Finish First',
 'Say Say Say',
 'On The Street Where You Live',
 "You Keep Me Hangin'on",
 'Complete Control',
 'The Scientist',
 'Lonely Street',
 'Fannin Street',
 'Crazyman Dance',
 "It's A Man's Man's Man's World"]

In [77]:
import pickle

In [78]:
pickle.dump(smilar,open("similarity","wb"))

In [80]:
pickle.dump(df,open("df","wb"))